name: Build .NET Framework 4.5 and upload artifact

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: windows-2019     # hoặc windows-2022 thử xem, KHÔNG dùng windows-latest nếu có lỗi

    steps:
      - uses: actions/checkout@v3

      # Chạy build bằng MSBuild (không cần dotnet, không cần choco)
      - name: Build with MSBuild
        run: |
          "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" "Anti Invoke Detection/Anti Invoke Detection.csproj" /p:Configuration=Release

      - name: Upload exe artifact
        uses: actions/upload-artifact@v4
        with:
          name: exe-output
          path: Anti Invoke Detection/bin/Release/
